{% extends "main/base.html" %}


{% block title %}
    Alcon de Colombia
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Hola, estás viendo la información del cliente: {{cli.name}}</h1>
        <p>Este cliente nos prefiere desde: {{cli.creationdate}}</p>

        <div class="mx-auto mb-4">
            <div class="row">
                {% for item in cli.day_set.all %}
                    <div class="col-sm-4 mt-4">
                        <div class="card border-{{item.status}}">
                            <div class="card-body">
                                <h4 class="card-title">Fecha (día): {{item.date}}</h4>
                                <p class="card-text">
                                    Vacas Totales: {{item.totalcows}}<br/>
                                    Total Producido Leche: {{item.totalmilk}}<br/>
                                    Total Concentrado: {{item.animalfeed}}<br/>
                                    Producido Leche/Vaca: {{item.cowmilk}}<br/>
                                    Conversión: {{item.totalmilk}}<br/>
                                    Total Producido Leche: {{item.totalmilk}}<br/>
                                </p>
                                <h5 class="text-{{item.status}}">Eficiencia l/concentrado: {{item.efficiency}}}</h5>
                                <p>Observaciones: {{obs}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <form method="POST" action="#">
            {% csrf_token %}
            <h1>Introducir datos de Ordeño:</h1>

            <div class="form-group">
                <label for="exampleInputPassword1">Fecha de la Muestra:</label>
                <input type="date" class="form-control" name="fecha">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Total Vacas Ordeñadas:</label>
              <input type="number" class="form-control" placeholder="12" name="vacas">
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Concentrado Total Suministrado (kg):</label>
              <input type="number" class="form-control" placeholder="120" name="concentrado">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Total Leche Producida (Litros):</label>
                <input type="number" class="form-control" placeholder="212" name="leche">
            </div>

            <button type="submit" class="btn btn-primary" name="save" value="save">Guardar Datos</button>
        </form>

    </div>

    
    
{% endblock %}