{% extends "main/base.html" %}


{% block title %}
    Alcon de Colombia
{% endblock %}

{% block content %}
    <div class="container mt-4">
        {% for costumer in cli.all %}
            <a href="/client/{{ costumer.id }}/"><h2>{{ costumer.name }}</h2></a>
        {% endfor %}
    </div>
    <div class="container mt-4">
        <h1>Crear Cliente:</h1>
        <form method="POST" action="/client/create/">
            {% csrf_token %}

            {{form.name}}
            <br/>
            <button type="submit", name="save" class="btn btn-success mt-3">Create New Client</button>
        </form>
    </div>
{% endblock %}